---
layout: index
title: Home
permalink: /
---

{% include recent_talks.html title="RECENT TALKS" limit=9 %}

<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-smile-o"></i>
        <h4>About</h4>
        <p>Since May 2012 we've held monthly JavaScript talks. Today the group is 500 members strong and has a great friendly community that we've been proud to see grow.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-compass"></i>
        <h4>Format</h4>
        <p>Talk nights are usually held on the last Wednesday of every month. They usual consist of two main talks and occasionally lightning talks that can be on any topic.</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-bullhorn"></i>
        <h4>Fancy speaking?</h4>
        <p>Bristol JS is only as strong as it's speakers so we're always on the lookout for great talks. Drop us an <a href="mailto:adam@lab.io">e-mail</a> with an outline of your talk as well as your availability, if it's right for us we'll get you booked in.</p>
      </div>
    </div>
  </div>
</div>

<div class="container mtb">
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h4>Frequently Asked</h4>
      <div class="hline"></div>
      {% for question in site.categories['question'] %}
        <h4><a data-toggle="collapse" href="#question-{{forloop.index}}" aria-expanded="false" aria-controls="question-{{forloop.index}}">
          {{ question.title }}
        </a></h4>
        <div class="collapse" id="question-{{forloop.index}}">
          <div>{{ question.content }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
