<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Links</h4>
        <div class="hline-w"></div>
        <p>
          <a href="http://meetup.com/bristoljs" class="btn-lg btn btn-primary">Meetup</a>
          <a href="http://twitter.com/bristoljs" class="btn-lg btn btn-primary">Twitter</a>
          <a href="https://www.youtube.com/channel/UCPOICck6I3zqGveOs6aFT5A" class="btn-lg btn btn-primary">YouTube</a>
        </p>
      </div>
    </div>
  </div>
</div>
