<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Bristol JS</h1>
        <h5>We host monthly JavaScript meetings in the beautiful city of Bristol, UK.</h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        {% assign time_now = site.time | date: '%s' %}
        {% assign first_loop = true %}

        {% for event in site.categories['event'] reversed %}
          {% assign time_event = event.date | date: '%s' %}
          {% if time_event >= time_now %}
            <hr>
            {% if first_loop %}
              <h3><a href="{{ event.meetup }}">{{ event.title }}</a></h3>
            {% else %}
              <h4><a href="{{ event.meetup }}">{{ event.title }}</a></h4>
            {% endif %}
            <h5>{{ event.date | date: "%-d %B %Y" }} - by {{ event.speaker }} at {{ event.venue }}</h5>
            {% if first_loop %}
              <a href="{{ event.meetup }}" class="btn btn-primary">RSVP Now</a>
              {% assign first_loop = false %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->
