<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>BristolJS</h1>
        <h5>We host monthly JavaScript meetings in the beautiful city of Bristol, UK.</h5>
      </div>
      <div class="col-lg-8 col-lg-offset-2 himg">
        {% for talk in site.categories['talk'] %}
          <hr>
          <h3>{{ talk.title }}</h3>
          <h5>{{ talk.date | date: "%-d %B %Y" }} - by {{ talk.speaker }} at {{ talk.venue }}</h5>
          <a href="{{ talk.url | prepend: site.baseurl }}" class="btn btn-primary">RSVP Now</a>
        {% endfor %}
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->
